@model Contract.data.Session

<link rel="stylesheet" href="/Content/css/session/show.css">

<div class="jumbotron">
	<h1>Session: @Model.Title</h1>
	<h2>Date: @Model.Start.ToShortDateString()</h2>
	<h2>Time: @Model.Start.ToShortTimeString() - @Model.End.ToShortTimeString()</h2>
	<h2>Speaker: @Model.SpeakerName</h2>
</div>

<div class="container">
	<div class="col-lg-2">
		<div id="light" class="center-block">
			<span id="red"></span>
			<span class="active" id="orange"></span>
			<span id="green"></span>
		</div>
	</div>
	<div class="col-lg-2">
		<textarea class="form-control" rows="3"></textarea>
	</div>
</div>
